* {
    margin: 0;
    padding: 0;
}

body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    background: #e2e1e0;
    height: 100%;
}

.header {
    background: #fff;
    margin: 0 auto;
    padding: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.title {
    display: block;
    color: #232830;
    font-weight: lighter;
}

.wrapper {
    width: 95%;
    margin: 7em auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filter {
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    list-style-type: none;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 0;
}

.filter > li {
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: lighter;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-align: left;
    list-style-type: none;
    margin: 0;
    width: 190px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.manual {
    background: #ff0084;
}

.twitter {
    background: #55acee;
}

.instagram {
    background: #3f729b;
}

.all {
    background: #232830;
}

.masonry {
    margin: 1.5em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 0;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 2px;
    overflow: hidden;
}

.item > .content > p {
    display: block;
    padding: 1.5em;
    margin: 0;
    background-color: #fff;
    color: #232830;
}

.item > .content > .post-footer {
    background-color: #fff;
    padding: 1em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.item > .content > .post-footer > .post-info,
.item > .content > .post-footer > .avatar {
    display: inline-block;
}

.item > .content > .post-footer > .avatar {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
}

.item > .content > .post-footer > .post-info {
    margin: 0 1em;
}

.item > .content > .post-footer > .post-info > a,
.item > .content > .post-footer > .post-info > p {
    display: block;
    margin: 0;
    font-size: .8em;
    color: #232830;
}

img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
@media only screen and (min-width: 500px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 750px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1300px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}